.content-bg{
    background:#fff url(/amuzi-ui/assets/img/bg_weather.jpg) no-repeat;
    height: 100%;
    width: 100%;
    background-size:100%;
}

.content-table{
    background: url(/amuzi-ui/assets/img/body_bg.png);
    color: #ffffff;
    /*opacity: 0.2;*/
}

.content-map{
    background: url(/amuzi-ui/assets/img/daily_info.png);
    color: #ffffff;
    /*opacity: 0.2;*/
}

.content-td{
    color: #fff
}

.content-position-left{
   float: left;
}

.content-position-right{
    float: right;
}

.content-span{
    font-size: 1.0rem;
}