<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta http-equiv="refresh" content="10">-->
    <title>title</title>
    <link rel="stylesheet" href="amuzi-ui/assets/css/index.css"/>
    <link rel="stylesheet" href="amuzi-ui/assets/css/amazeui.css"/>
    <link rel="stylesheet" href="amuzi-ui/assets/css/core.css"/>
    <link rel="stylesheet" href="amuzi-ui/assets/css/menu.css"/>
    <link rel="stylesheet" href="amuzi-ui/assets/css/admin.css"/>
    <link rel="stylesheet" href="amuzi-ui/assets/css/page/typography.css"/>
    <link rel="stylesheet" href="amuzi-ui/assets/css/page/form.css"/>
    <link rel="stylesheet" href="amuzi-ui/assets/css/component.css"/>
</head>
<body onload="asyHttp()">
<div class="content-bg">
    <div class="header-title" style="height: 15%;" >
        <p style="color: #ffffff;text-align: center;font-size: 5vw;">台风气象</p>
    </div>
    <table class="am-table am-table-bordered am-table-centered" style="height: 85%;border: none">
        <tr style="height: 50%;">
            <td class="content-table " style="width: 33.33333333%;">
                <table class="am-table am-table-bordered am-table-centered" style="height: 100%;border: none">
                    <tr >
                        <td colspan="3" >
                            <h3 style="color: #ffffff;font-size: 2.5vw;font-weight: bold">海沧大桥</h3>
                        </td>
                    </tr>
                    <tr >
                        <td class="content-td" style="width: 33.33333333%;font-size: 1.5vw;font-weight: bold">
                            <div >风力</div>
                        </td>
                        <td class="content-td" style="width: 33.33333333%;font-size: 1.5vw;font-weight: bold">
                            <div >风向</div>
                        </td>
                        <td class="content-td" style="width: 33.33333333%;font-size: 1.5vw;font-weight: bold">
                            <div >空气湿度</div>
                        </td>
                    </tr>
                    <tr >
                        <td >
                            <div style="text-align: center">
                                <img src="amuzi-ui/assets/img/icon_weather_speed.gif" th:width="100px" th:height="100px">
                            </div>
                        </td>
                        <td >
                            <div style="text-align: center">
                                <img src="amuzi-ui/assets/img/icon_weather_direct.gif" id="hcdq_direct_gif" th:width="100px" th:height="100px">
                            </div>
                        </td>
                        <td >
                            <div id="container_haicang" style="height: 100%"></div>
                        </td>
                    </tr>
                    <tr >
                        <td >
                            <div style="color: #ffffff;font-size: 1.5vw;font-weight: bold" ><span id="hcdq_wind_value" style="font-size: 1.5vw"></span>级</div>
                        </td>
                        <td >
                            <div style="color: #ffffff;font-size: 1.5vw;font-weight: bold" ><span id="hcdq_wind" ></span></div>
                        </td>
                        <td >
                            <div  style="color: #ffffff;font-size: 1.5vw">
                                <div class="content-position-left" style="font-size: 1.4vw">
                                    <span >能见度</span>
                                </div>
                                <div class="content-position-right" >
                                    <span id="hcdq_visibility" style="font-size: 1.5vw;font-weight: bold" >1421</span>
                                    <span style="font-weight: bold">米</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr >
                        <td >
                            <div style="color: #ffffff;font-size: 1.5vw;">
                                <div class="content-position-left" >
                                    <span >风速</span>
                                </div>
                                <div class="content-position-right" >
                                    <span id="hcdq_wind_speed" style="font-size: 1.5vw;font-weight: bold" >5</span>
                                    <span style="font-weight: bold">km/h</span>
                                </div>
                            </div>
                        </td>
                        <td >
                            <div ></div>
                        </td>
                        <td >
                            <div style="color: #ffffff;font-size: 1.5vw;">
                                <div class="content-position-left" >
                                    <span >雨量</span>
                                </div>
                                <div class="content-position-right" >
                                    <span id="hcdq_rainfall" style="font-size: 1.5vw;font-weight: bold" >5</span>
                                    <span style="font-weight: bold">mm/h</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
            <td class="content-table " style="width: 33.33333333%;">
                <table class="am-table am-table-bordered am-table-centered" style="height: 100%;border: none">
                    <tr >
                        <td colspan="3" >
                            <h3 style="color: #ffffff;font-size: 2.5vw;font-weight: bold">翔安隧道</h3>
                        </td>
                    </tr>
                    <tr >
                        <td class="content-td" style="width: 33.33333333%;font-size: 1.5vw;font-weight: bold">
                            <div >风力</div>
                        </td>
                        <td class="content-td" style="width: 33.33333333%;font-size: 1.5vw;font-weight: bold">
                            <div >风向</div>
                        </td>
                        <td class="content-td" style="width: 33.33333333%;font-size: 1.5vw;font-weight: bold">
                            <div >空气湿度</div>
                        </td>
                    </tr>
                    <tr >
                        <td >
                            <div style="text-align: center">
                                <img src="amuzi-ui/assets/img/icon_weather_speed.gif" th:width="100px" th:height="100px">
                            </div>
                        </td>
                        <td >
                            <div style="text-align: center">
                                <img src="amuzi-ui/assets/img/icon_weather_direct.gif" id="xasd_direct_gif" th:width="100px" th:height="100px">
                            </div>
                        </td>
                        <td >
                            <div id="container_xiangan" style="height: 100%"></div>
                        </td>
                    </tr>
                    <tr >
                        <td >
                            <div style="color: #ffffff;font-size: 1.5vw;font-weight: bold" ><span id="xasd_wind_value" style="font-size: 1.5vw"></span>级</div>
                        </td>
                        <td >
                            <div style="color: #ffffff;font-size: 1.5vw;font-weight: bold" ><span id="xasd_wind" ></span></div>
                        </td>
                        <td >
                            <div  style="color: #ffffff;font-size: 1.5vw">
                                <div class="content-position-left" style="font-size: 1.4vw">
                                    <span >能见度</span>
                                </div>
                                <div class="content-position-right" >
                                    <span id="xasd_visibility" style="font-size: 1.5vw;font-weight: bold" >1421</span>
                                    <span style="font-weight: bold">米</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr >
                        <td >
                            <div style="color: #ffffff;font-size: 1.5vw;">
                                <div class="content-position-left" >
                                    <span >风速</span>
                                </div>
                                <div class="content-position-right" >
                                    <span id="xasd_wind_speed" style="font-size: 1.5vw;font-weight: bold" >5</span>
                                    <span style="font-weight: bold">km/h</span>
                                </div>
                            </div>
                        </td>
                        <td >
                            <div ></div>
                        </td>
                        <td >
                            <div style="color: #ffffff;font-size: 1.5vw;">
                                <div class="content-position-left" >
                                    <span >雨量</span>
                                </div>
                                <div class="content-position-right" >
                                    <span id="xasd_rainfall" style="font-size: 1.5vw;font-weight: bold" >5</span>
                                    <span style="font-weight: bold">mm/h</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
            <td rowspan="2" class="content-table ">
                <table class="am-table am-table-bordered am-table-centered" style="height: 95%;border: none">
                    <tr >
                        <td colspan="2">
                            <h3 style="color: #ffffff;font-size: 4vw">台风信息</h3>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr data-am-widget="divider" style="" class="am-divider am-divider-white"/></td>
                    </tr>
                    <tr >
                        <td class="content-td" style="width: 50%;">
                            <div  style="font-size: 2vw;font-weight: bold" ><span class="content-position-left">台风名称</span></div>
                        </td>
                        <td class="content-td" style="width: 50%;">
                            <div  style="font-size: 2vw;font-weight: bold"><span class="content-position-right" id="typhoon_name" >萨瓦迪卡台风</span></div>
                        </td>
                    </tr>
                    <tr >
                        <td class="content-td" style="width: 50%;">
                            <div  style="font-size: 2vw;font-weight: bold" ><span class="content-position-left">位置</span></div>
                        </td>
                        <td class="content-td" style="width: 50%;">
                            <div  style="font-size: 2vw;font-weight: bold"><span class="content-position-right" id="typhoon_position">离厦门3000米</span></div>
                        </td>
                    </tr>
                    <tr >
                        <td class="content-td" style="width: 50%;">
                            <div   style="font-size: 2vw;font-weight: bold"><span class="content-position-left" >中心风力</span></div>
                        </td>
                        <td class="content-td" style="width: 50%;">
                            <div class="content-position-right"   style="font-size: 2vw;font-weight: bold"><span id="typhoon_central_wind" >14</span> <span  style="font-weight: bold">级</span></div>
                        </td>
                    </tr>
                    <tr >
                        <td class="content-td" style="width: 50%;">
                            <div   style="font-size: 2vw;font-weight: bold"><span class="content-position-left" >最大风速</span></div>
                        </td>
                        <td class="content-td" style="width: 50%;">
                            <div  class="content-position-right" style="font-size: 2vw;font-weight: bold"><span  id="typhoon_max_speed" >20</span><span style="font-weight: bold">米/秒</span></div>
                        </td>
                    </tr>
                    <tr >
                        <td class="content-td" style="width: 50%;">
                            <div   style="font-size: 2vw;font-weight: bold"><span class="content-position-left" >中心气压</span></div>
                        </td>
                        <td class="content-td" style="width: 50%;">
                            <div class="content-position-right"  style="font-size: 2vw;font-weight: bold"><span  id="typhoon_central_pressure" >180</span><span style="font-weight: bold">千帕</span></div>
                        </td>
                    </tr>
                    <tr >
                        <td class="content-td" style="width: 50%;">
                            <div    style="font-size: 2vw;font-weight: bold"><span class="content-position-left" >移动速度</span></div>
                        </td>
                        <td class="content-td" style="width: 50%;">
                            <div class="content-position-right"  style="font-size: 2vw;font-weight: bold"><span  id="typhoon_travel_rate" >52</span><span style="font-weight: bold">公里/小时</span></div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr style="height: 50%;">
            <td class="content-table ">
                <table class="am-table am-table-bordered am-table-centered" style="height: 95%;border: none">
                    <tr >
                        <td colspan="3" >
                            <h3 style="color: #ffffff;font-size: 2.5vw;font-weight: bold">厦门大桥</h3>
                        </td>
                    </tr>
                    <tr >
                        <td class="content-td" style="width: 33.33333333%;font-size: 1.5vw;font-weight: bold">
                            <div >风力</div>
                        </td>
                        <td class="content-td" style="width: 33.33333333%;font-size: 1.5vw;font-weight: bold">
                            <div >风向</div>
                        </td>
                        <td class="content-td" style="width: 33.33333333%;font-size: 1.5vw;font-weight: bold">
                            <div >空气湿度</div>
                        </td>
                    </tr>
                    <tr >
                        <td >
                            <div style="text-align: center">
                                <img src="amuzi-ui/assets/img/icon_weather_speed.gif" th:width="100px" th:height="100px">
                            </div>
                        </td>
                        <td >
                            <div style="text-align: center">
                                <img src="amuzi-ui/assets/img/icon_weather_direct.gif" id="xmdq_direct_gif" th:width="100px" th:height="100px">
                            </div>
                        </td>
                        <td >
                            <div id="container_xiamen" style="height: 100%"></div>
                        </td>
                    </tr>
                    <tr >
                        <td >
                            <div style="color: #ffffff;font-size: 1.5vw;font-weight: bold" ><span id="xmdq_wind_value" style="font-size: 1.5vw"></span>级</div>
                        </td>
                        <td >
                            <div style="color: #ffffff;font-size: 1.5vw;font-weight: bold" ><span id="xmdq_wind" ></span></div>
                        </td>
                        <td >
                            <div  style="color: #ffffff;font-size: 1.5vw">
                                <div class="content-position-left" style="font-size: 1.4vw">
                                    <span >能见度</span>
                                </div>
                                <div class="content-position-right" >
                                    <span id="xmdq_visibility" style="font-size: 1.5vw;font-weight: bold" >1421</span>
                                    <span style="font-weight: bold">米</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr >
                        <td >
                            <div style="color: #ffffff;font-size: 1.5vw;">
                                <div class="content-position-left" >
                                    <span >风速</span>
                                </div>
                                <div class="content-position-right" >
                                    <span id="xmdq_wind_speed" style="font-size: 1.5vw;font-weight: bold" >5</span>
                                    <span style="font-weight: bold">km/h</span>
                                </div>
                            </div>
                        </td>
                        <td >
                            <div ></div>
                        </td>
                        <td >
                            <div style="color: #ffffff;font-size: 1.5vw;">
                                <div class="content-position-left" >
                                    <span >雨量</span>
                                </div>
                                <div class="content-position-right" >
                                    <span id="xmdq_rainfall" style="font-size: 1.5vw;font-weight: bold" >5</span>
                                    <span style="font-weight: bold">mm/h</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
            <td class="content-table ">
                <table class="am-table am-table-bordered am-table-centered" style="height: 95%;border: none">
                    <tr >
                        <td colspan="3" >
                            <h3 style="color: #ffffff;font-size: 2.5vw;font-weight: bold">集美大桥</h3>
                        </td>
                    </tr>
                    <tr >
                        <td class="content-td" style="width: 33.33333333%;font-size: 1.5vw;font-weight: bold">
                            <div >风力</div>
                        </td>
                        <td class="content-td" style="width: 33.33333333%;font-size: 1.5vw;font-weight: bold">
                            <div >风向</div>
                        </td>
                        <td class="content-td" style="width: 33.33333333%;font-size: 1.5vw;font-weight: bold">
                            <div >空气湿度</div>
                        </td>
                    </tr>
                    <tr >
                        <td >
                            <div style="text-align: center">
                                <img src="amuzi-ui/assets/img/icon_weather_speed.gif" th:width="100px" th:height="100px">
                            </div>
                        </td>
                        <td >
                            <div style="text-align: center">
                                <img src="amuzi-ui/assets/img/icon_weather_direct.gif" id="jmdq_direct_gif" th:width="100px" th:height="100px">
                            </div>
                        </td>
                        <td >
                            <div id="container_jimei" style="height: 100%"></div>
                        </td>
                    </tr>
                    <tr >
                        <td >
                            <div style="color: #ffffff;font-size: 1.5vw;font-weight: bold" ><span id="jmdq_wind_value" style="font-size: 1.5vw"></span>级</div>
                        </td>
                        <td >
                            <div style="color: #ffffff;font-size: 1.5vw;font-weight: bold" ><span id="jmdq_wind" ></span></div>
                        </td>
                        <td >
                            <div  style="color: #ffffff;font-size: 1.5vw">
                                <div class="content-position-left" style="font-size: 1.4vw">
                                    <span >能见度</span>
                                </div>
                                <div class="content-position-right" >
                                    <span id="jmdq_visibility" style="font-size: 1.5vw;font-weight: bold" >1421</span>
                                    <span style="font-weight: bold">米</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr >
                        <td >
                            <div style="color: #ffffff;font-size: 1.5vw;">
                                <div class="content-position-left" >
                                    <span >风速</span>
                                </div>
                                <div class="content-position-right" >
                                    <span id="jmdq_wind_speed" style="font-size: 1.5vw;font-weight: bold" >5</span>
                                    <span style="font-weight: bold">km/h</span>
                                </div>
                            </div>
                        </td>
                        <td >
                            <div ></div>
                        </td>
                        <td >
                            <div style="color: #ffffff;font-size: 1.5vw;">
                                <div class="content-position-left" >
                                    <span >雨量</span>
                                </div>
                                <div class="content-position-right" >
                                    <span id="jmdq_rainfall" style="font-size: 1.5vw;font-weight: bold" >5</span>
                                    <span style="font-weight: bold">mm/h</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript" src="amuzi-ui/assets/js/jquery-2.1.0.js"></script>
<script type="text/javascript" src="amuzi-ui/assets/js/amazeui.min.js"></script>
<script type="text/javascript" src="amuzi-ui/assets/js/app.js"></script>
<script type="text/javascript" src="amuzi-ui/assets/js/blockUI.js"></script>
<script type="text/javascript" src="amuzi-ui/assets/js/charts/echarts.js"></script>
<script type="text/javascript" src="amuzi-ui/assets/js/tool-utils.js"></script>
<script type="text/javascript" th:inline="javascript">
    var humidity_xmdq;
    var humidity_jmdq;
    var humidity_hcdq;
    var humidity_xasd;
    function asyHttp() {
        var xmlhttp;
        if (window.XMLHttpRequest) {
            // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
            xmlhttp = new XMLHttpRequest();
        }
        else {
            // IE6, IE5 浏览器执行代码
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function () {

            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                if (xmlhttp.responseText != null) {
                    initData(xmlhttp);
                }
            }
        };
        xmlhttp.open("POST", "test2", true);
        xmlhttp.send();
        setTimeout("asyHttp()", 50000);
    }

    function initData(xmlhttp) {
        var maps = JSON.parse(xmlhttp.responseText);
        var xmdq = maps.xmdq;
        var jmdq = maps.jmdq;
        var hcdq = maps.hcdq;
        var xasd = maps.xasd;
        var typhoon_info = maps.typhoon_info;
        document.getElementById("jmdq_wind_speed").innerText = jmdq.windSpeed;
        document.getElementById("jmdq_wind_value").innerText = getWindGrade(jmdq.windValue);
        document.getElementById("jmdq_wind").innerText = jmdq.wind;
        document.getElementById("jmdq_visibility").innerText = jmdq.visibility;
        document.getElementById("jmdq_rainfall").innerText = jmdq.rainfall;

        document.getElementById("hcdq_wind_speed").innerText = hcdq.windSpeed;
        document.getElementById("hcdq_wind_value").innerText = getWindGrade(hcdq.windValue);
        document.getElementById("hcdq_wind").innerText = hcdq.wind;
        document.getElementById("hcdq_visibility").innerText = hcdq.visibility;
        document.getElementById("hcdq_rainfall").innerText = hcdq.rainfall;

        document.getElementById("xasd_wind_speed").innerText = xasd.windSpeed;
        document.getElementById("xasd_wind_value").innerText = getWindGrade(xasd.windValue);
        document.getElementById("xasd_wind").innerText = xasd.wind;
        document.getElementById("xasd_visibility").innerText = xasd.visibility;
        document.getElementById("xasd_rainfall").innerText = xasd.rainfall;

        document.getElementById("xmdq_wind_speed").innerText = xmdq.windSpeed;
        document.getElementById("xmdq_wind_value").innerText = getWindGrade(xmdq.windValue);
        document.getElementById("xmdq_wind").innerText = xmdq.wind;
        document.getElementById("xmdq_visibility").innerText = xmdq.visibility;
        document.getElementById("xmdq_rainfall").innerText = xmdq.rainfall;

        document.getElementById("typhoon_travel_rate").innerText = typhoon_info.travelRate;
        document.getElementById("typhoon_central_pressure").innerText = typhoon_info.centralPressure;
        document.getElementById("typhoon_max_speed").innerText = typhoon_info.maxSpeed;
        document.getElementById("typhoon_central_wind").innerText = typhoon_info.centralWind;
        document.getElementById("typhoon_position").innerText = typhoon_info.position;
        document.getElementById("typhoon_name").innerText = typhoon_info.typhoonName;
        changeTyphoonGif(xmdq.windValue,jmdq.windValue,hcdq.windValue,xasd.windValue);
        loadChart(xmdq.humidity,jmdq.humidity,hcdq.humidity,xasd.humidity);
    }

    function changeTyphoonGif(xmdq_wind,jmdq_wind,hcdq_wind,xasd_wind) {
        if(xmdq_wind != null ){
            do_gif("xmdq_direct_gif",xmdq_wind);
        }
        if(jmdq_wind != null ){
            do_gif("jmdq_direct_gif",jmdq_wind);
        }
        if(hcdq_wind != null ){
            do_gif("hcdq_direct_gif",hcdq_wind);
        }
        if(xasd_wind != null ){
            do_gif("xasd_direct_gif",xasd_wind);
        }
    }

    function do_gif(name,direction) {
        var imgStyle = document.getElementById(name).style;
        imgStyle.transform = 'rotate('+direction+'deg)';
    }

    function loadChart(xmdq_humidity,jmdq_humidity,hcdq_humidity,xasd_humidity) {

        var humidity_temp_xmdq = xmdq_humidity;
        var humidity_temp_jmdq = jmdq_humidity;
        var humidity_temp_hcdq = hcdq_humidity;
        var humidity_temp_xasd = xasd_humidity;
        if(humidity_temp_xmdq != null && humidity_temp_xmdq != humidity_xmdq){
            humidity_xmdq = humidity_temp_xmdq;
            var dom_xiamen = document.getElementById("container_xiamen");
            var myChart_xmdq = echarts.init(dom_xiamen);
            var option_xmdq = getOption(humidity_xmdq);
            if (option_xmdq && typeof option_xmdq === "object") {
                myChart_xmdq.setOption(option_xmdq, true);
            }
        }
        if(humidity_temp_xasd != null && humidity_temp_xasd != humidity_xasd){
            humidity_xasd = humidity_temp_xasd;
            var dom_xiangan = document.getElementById("container_xiangan");
            var myChart_xiangan = echarts.init(dom_xiangan);
            var option_xiangan = getOption(humidity_xasd);
            if (option_xiangan && typeof option_xiangan === "object") {
                myChart_xiangan.setOption(option_xiangan, true);
            }
        }
        if(humidity_temp_jmdq != null && humidity_temp_jmdq != humidity_jmdq){
            humidity_jmdq = humidity_temp_jmdq;
            var dom_jimei = document.getElementById("container_jimei");
            var myChart_jimei = echarts.init(dom_jimei);
            var option_jimei = getOption(humidity_jmdq);
            if (option_jimei && typeof option_jimei === "object") {
                myChart_jimei.setOption(option_jimei, true);
            }
        }
        if(humidity_temp_hcdq != null && humidity_temp_hcdq != humidity_hcdq){
            humidity_hcdq = humidity_temp_hcdq;
            var dom_haicang = document.getElementById("container_haicang");
            var myChart_haicang = echarts.init(dom_haicang);
            var option_haicang = getOption(humidity_hcdq);
            if (option_haicang && typeof option_haicang === "object") {
                myChart_haicang.setOption(option_haicang, true);
            }
        }
    }
    
    function getOption(humidity) {
        var app = {};
        option = null;
        app.title = '环形图';
        option = {
            title: {
                text: humidity + "%",
                textStyle: {
                    color: "#ffffff"
                },
                x: 'center',
                y: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            }, color: ["#ffffff", "#cccccc"],
            series: [
                {
                    name: '访问来源',
                    type: 'pie',
                    radius: ['60%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center',
                            formatter: '{d}%',
                        },
                        emphasis: {
                            show: false,
                            textStyle: {
                                fontSize: '12',
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data: [
                        {value: humidity, name: '湿度'},
                        {value: 100-humidity, name: '干度'},
                    ]
                }
            ]
        };
        return option;
    }

</script>
</body>
</html>