<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="amuzi-ui/assets/css/amazeui.css" />
    <link rel="stylesheet" href="amuzi-ui/assets/css/core.css" />
    <link rel="stylesheet" href="amuzi-ui/assets/css/menu.css" />
    <link rel="stylesheet" href="amuzi-ui/assets/css/index.css" />
    <link rel="stylesheet" href="amuzi-ui/assets/css/admin.css" />
    <link rel="stylesheet" href="amuzi-ui/assets/css/page/typography.css" />
    <link rel="stylesheet" href="amuzi-ui/assets/css/page/form.css" />
    <link rel="stylesheet" href="amuzi-ui/assets/css/component.css" />
    <style type="text/css">
        body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
    </style>
    <!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=dvn7vZYoUmALgo7Q9nTEMmqXUGbK9tHa"></script>-->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=dvn7vZYoUmALgo7Q9nTEMmqXUGbK9tHa"></script>
    <title>地图展示</title>
</head>
<body>
    <div id="allmap">
    </div>
    <div class="content-map" style="position: fixed;top:0px;left:0px;width:30%;height: 40%">
    </div>
</body>
</html>
<script type="text/javascript">
    // 百度地图API功能
    /*var map = new BMap.Map("allmap");    // 创建Map实例
    map.centerAndZoom(new BMap.Point(118.099,24.529), 13);*/
    var map = new BMap.Map("allmap");          // 创建地图实例
    var point = new BMap.Point(118.099,24.529);  // 创建点坐标
    map.centerAndZoom(point, 13);// 初始化地图,设置中心点坐标和地图级别
    //添加地图类型控件
    map.addControl(new BMap.MapTypeControl({
        mapTypes:[
            BMAP_NORMAL_MAP,
            BMAP_HYBRID_MAP
        ]}));
    map.setMapType(BMAP_HYBRID_MAP);
    map.setCurrentCity("厦门");          // 设置地图显示的城市 此项是必须设置的
    map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放

    var xmdqline = new BMap.Polyline([
        new BMap.Point(118.101178,24.569434),
        new BMap.Point(118.117132,24.5555),
    ], {strokeColor:"yellow", strokeWeight:5, strokeOpacity:0.5});   //创建折线
    var xasdline = new BMap.Polyline([
        new BMap.Point(118.195177,24.527626),
        new BMap.Point(118.225072,24.558655),
    ], {strokeColor:"yellow", strokeWeight:5, strokeOpacity:0.5});   //创建折线
    var hcdqline = new BMap.Polyline([
        new BMap.Point(118.062371,24.503428),
        new BMap.Point(118.089392,24.499219),
    ], {strokeColor:"yellow", strokeWeight:5, strokeOpacity:0.5});   //创建折线
    var xldqline = new BMap.Polyline([
        new BMap.Point(118.065102,24.575087),
        new BMap.Point(118.11512,24.553791),
    ], {strokeColor:"yellow", strokeWeight:5, strokeOpacity:0.5});   //创建折线
    var jmdqline = new BMap.Polyline([
        new BMap.Point(118.118138,24.588888),
        new BMap.Point(118.149758,24.560232),
    ], {strokeColor:"yellow", strokeWeight:5, strokeOpacity:0.5});   //创建折线
    map.addOverlay(xasdline);          //增加折线
    map.addOverlay(xmdqline);
    map.addOverlay(jmdqline);
    map.addOverlay(hcdqline);
    map.addOverlay(xldqline);
</script>
<script type="text/javascript" src="amuzi-ui/assets/js/jquery-2.1.0.js" ></script>
<script type="text/javascript" src="amuzi-ui/assets/js/amazeui.min.js"></script>
<script type="text/javascript" src="amuzi-ui/assets/js/app.js" ></script>
<script type="text/javascript" src="amuzi-ui/assets/js/blockUI.js" ></script>
<script type="text/javascript" src="amuzi-ui/assets/js/charts/echarts.min.js" ></script>
<script type="text/javascript" src="amuzi-ui/assets/js/charts/indexChart.js" ></script>
</html>